@import "./variables.scss";

.heading {
  font-family: Graphik;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: -0.02em;
  line-height: 35px;
  text-align: left;
}

.body {
  font-family: Graphik;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-align: left;
}

.detail {
  font-family: Graphik;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 18px;
  text-align: left;
}

.button {
  font-family: Graphik;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: -0.02em;
  line-height: 16px;
  text-align: center;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans;
  font-weight: 600;
}
label,
input,
a {
  font-family: $font-family-sans;
}
p {
  font-family: $font-family-sans;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}
h2 {
  font-size: 18px;
  font-weight: 600;
}
h3 {
  font-size: 14px;
  font-weight: 600;
}
h4 {
  font-size: 13px;
  font-weight: 600;
}
p {
  font-size: 1.5em;
}

nav {
  a {
    font-size: 1em;
    font-family: $font-family-sans;
    font-weight: 600;
    white-space:nowrap;
  }
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-Semibold.eot');
    src: local('Graphik Semibold'), local('Graphik-Semibold'),
        url('../font/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../font/Graphik-Semibold.woff2') format('woff2'),
        url('../font/Graphik-Semibold.woff') format('woff'),
        url('../font/Graphik-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
