.route-transition-enter {
  opacity: 0;
}
.route-transition-enter-active {
  opacity: 1;
  @include screen-transition;
}
.route-transition-exit {
  opacity: 1;
}
.route-transition-exit-active {
  position: absolute;
  top: -31px;
  opacity: 0;
  @include screen-transition;
}
