@import "./variables.scss";

html {
  font-size: 1em;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

a {
  text-decoration: none;
  user-select: none;
}

.inner-wrapper {
  padding: 0 $edge-padding;
}
.hidden {
    display: none;
    visibility: hidden;
}
.hide {
    opacity: 0;
}