$font-family-sans: Helvetica, Arial, sans-serif;
$routeTransitionDuration: 300ms;
$minAppHeight: 1vh;
$route-cubic-bezier: cubic-bezier(0.59, 0, 0.61, 0.98);

$color-light: #fff;
$color-dark: #000;
$color-gray: #b2b2b2;
$color-ccc: #ccc;

$color-site-bg: #FFF;
$color-header-bg: #FFF;
$color-footer-bg: #999;
$color-section-bg: #fff;
$color-list-item-bg: #fff;
$color-list-item-bg-hover: #000;
$color-font-dark: #111;
$color-button-bg: #fff;
$color-button-bg-hover: #eee;
$color-button-border: #000;
$color-font-nav-active: #000;
$color-font-nav-inactive: #aaa;
$color-font-light: #fff;
$color-heart: #f00;
$color-heart-hover: #ff69b4;

$tabletWidth: 768px;
$mobileWidth: 667px;
$header-height: 60px;
$footer-height: 100px;

$size-list-item: 23%;
$edge-padding: 7%;

$input-font-size-big: 30px;
$button-border-width: 5px;