@import "globalStyles/variables.scss";
.ScreenContainer {
  position: relative;
  min-height: 100vh;
}
.loading {
  display: flex;
  margin: 2em;
  justify-content: center;
}
.wrapper {
  display: block;
}