@import "globalStyles/variables.scss";

.ViewHome {
	.guide {
		display: flex;
		justify-content: center;
		background-color: $color-dark;
		color: $color-light;
		padding: 2em 0;
		margin: 2em 0;
		span {
			margin-right: 1em;
		}
	}
	.content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
