@import "globalStyles/variables.scss";

.searchContainer {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}
.inputContainer {
	display: inline-block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: $color-font-dark;
}
.input {
	padding: 0.25em;
	background: transparent;
	border: transparent;
	font-size: 1em;
	&:focus {
		outline: none;
	}
}
.icon {
	display: inline-block;
}
