@import "globalStyles/variables.scss";

.DetailsView {
    .inner {
        padding-left: $edge-padding;
    }
	.topArea {
        display: flex;
        margin-bottom: 4rem;
    }
	.bottomArea {
        display: flex;
        flex-direction: "row";
        padding-right: $edge-padding;
        > * {
            width: 30%;
            margin: 0 1%;
            &:first-child {
                margin: 0 1% 0 0;
            }
            &:last-child {
                margin: 0 0 0 1%;
            }
        }
    }
    .column{
        align-self: center;
        width: 50%;
    }
	.carousel {
        padding-right: 2rem;
        .image {
        }
    }
	.transactions {
		flex: 1;
		flex-basis: 50%;
	}

	.backBtn {
		cursor: pointer;
		position: relative;
		margin: 1em 0;
        display: flex;
        align-items: center;
	}
	.buttons {
        display: flex;
        // justify-content: space-evenly;
        > div {
            margin-right: 1rem;
        }
	}
	.body {
		text-align: left;
		margin: 1em 0;
	}
	.videoContainer {
		text-align: center;
		width: 95%;
		margin: 2em auto 0 auto;
	}
	img {
		width: 100%;
	}
	iframe {
		width: 100%;
	}

	// Mediaqueries
	@media (min-width: $tabletWidth) {
	}
}

.loading {
	display: flex;
	margin: 2em;
	justify-content: center;
}
@keyframes bounce {
	0%,
	20%,
	80%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-1em);
	}
}
